* {
  font-family: "Gill Sans", sans-serif;
}
.wrapper1 {  
  background-image: url("https://w.forfun.com/fetch/5b/5b8af025bee3bd3effb35a68d74afba5.jpeg");
  background-position: top;
  background-size: cover;
  font-family: 'TT Norms Pro', sans-serif;
}
.wrapper3 {
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navig1 {
  width: 100%;
  padding-top: 20px;
}
.navig2 {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 18px;
  cursor: pointer;
  align-items: center;
}
li span {

}
.images {
  width: 900px;
  /* margin-top: 40px; */
}
.image img{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px; */
  width: 900px;
  height: 550px;
}

.text {
  color: rgba(255, 255, 255, 0.907);
  font-size: 22px;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.text2 {
  font-size: 16px;
  padding-bottom: 10px;
  color: rgba(255, 255, 255, 0.908);
  display: flex;
  justify-content: space-between;
}
.details {
  padding: 20px;
  width: 1370px;
  margin-top: 50px;
  border-radius: 20px;
  margin-left: 50px;
  background-color: rgba(100, 110, 180, 0.2);
  border: 1px solid rgba(100, 109, 180, 0.368);
}
a {
  text-decoration: none;
  font-size: 16px;
  color: rgba(6, 6, 255, 0.424);
}
.txtPrice {
  font-size: 13px;
  padding: 12px;
 color: white;
 background-color: black;
  border-radius: 20px;

}

.button1 {
  margin-top: 20px;
  font-size: 12px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.704);
  background-color: rgba(255, 255, 255, 0.816);;
  border-radius: 20px;
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.priceForBuyer {
  color: rgba(255, 255, 255, 0.908);
}
.admin {
  
  width: 400px;
  height: 500px;
  border: 1px solid rgba(100, 109, 180, 0.368);
margin-right: 100px;
  border-radius: 50px;
  color: white;
  background-color: rgba(100, 110, 180, 0.2);
}
.avatar {
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
.adminName {
  margin-left: 135px;
  font-size: 18px;
}
.adminNumber {
  margin-left: 115px;
  margin-top: 10px;
  font-size: 18px;
}
.adminButtons {
  display: flex;
 flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 10px;

}
.sendMessageForAdmin {
  width: 200px;
  height: 50px;
  font-size: 17px;
  align-items: center;
  border: 1px solid rgba(100, 109, 180, 0.368);
  cursor: pointer;
  margin-bottom: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 10px;
}
.toBook {
  width: 200px;
  height: 50px;
  font-size: 17px;
  align-items: center;
  border: 1px solid rgba(100, 109, 180, 0.368);
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 10px;
}
.lk {
  color: white;
  padding: 20px;
  width: 1370px;
  margin-top: 20px;
  margin-left: 50px;
  background-color: rgba(100, 110, 180, 0.2);
      border-radius: 20px;
      border: 1px solid rgba(100, 109, 180, 0.368);
}
.textLk {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.908);
  margin-top: 20px;
}
.lkText {
  font-size: 22px;
}
.signInLk {
  padding: 10px;
  margin-top: 20px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.704);
  background-color:rgba(255, 255, 255, 0.908);
  cursor: pointer;
  font-size: 14px;
  color:black
}
.discription {
  color: rgba(255, 255, 255, 0.908);
  width: 1370px;
  margin-left: 50px;
  box-sizing: border-box;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: rgba(100, 110, 180, 0.2);
    border: 1px solid rgba(100, 109, 180, 0.368);
  border-radius: 20px;
  padding: 20px;
}
.discript {
    color: rgba(255, 255, 255, 0.929);
  font-size: 22px;
  margin-bottom: 20px;
}
.prosmotr {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.views {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-top: -20px;
  margin-bottom: 10px;
}

.text_specifications {
  font-size: 28px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.908);
}
.specifications {

  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.908);
  margin-left: 50px;
  width: 1370px;
  box-sizing: border-box; 
  background-color: rgba(100, 110, 180, 0.44);
    margin-top: 20px;
    border: 1px solid rgba(100, 109, 180, 0.368);
  border-radius: 20px;
  padding: 20px 20px 20px 200px;
}
.basic_item {
  display: flex;
  margin-right: 200px;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.908);
  font-size: 18px;
  padding-bottom: 5px;
}

.text_basic {
  font-size: 22px;
  margin-bottom: 30px;
}
.text_flat {
  margin-top: 20px;
  font-size: 22px;
  margin-bottom: 30px;
}
.flat_item {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  color: rgba(255, 255, 255, 0.908);
  font-size: 18px;
  padding-bottom: 5px;

}

.the_apartment_remains_for_sale {
  margin-top: 20px;
  font-size: 22px;
  margin-bottom: 30px;
}
.of_home {
  margin-top: 20px;
  font-size: 22px;
  margin-bottom: 30px;
}
.yard {
  margin-top: 20px;
  font-size: 22px;
  margin-bottom: 30px;
}
.free_legal_protection {
  margin-top: 20px;
  font-size: 22px;
  margin-top: 20px;
}
.mini_txt {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.yes {
  margin-top: 15px;
  font-size: 18px;

}
