* {
  padding: 0;
  margin: 0;
  font-weight: 500;
  box-sizing: border-box;
}

.mainDiv header {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  filter: drop-shadow(1px 2px 5px black);
}

.mainDiv {
  /* background-color: rgb(18, 20, 64); */
  background: linear-gradient(
    112.1deg,
    rgb(16 24 49) 11.4%,
    rgb(20 23 33) 70.2%
  );
  color: antiquewhite;
  height: 100%;
  width: 100%;
}
.leftMenu ul {
  gap: 15px;
  display: flex;
  font-size: 22px;
}
.rightMenu li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.rightMenu ul {
  gap: 15px;
  display: flex;
  font-size: 22px;
}
.rightMenu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  &:hover {
    color: hsl(222, 23%, 78%);
  }
}
.leftMenu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  &:hover {
    color: hsl(222, 23%, 78%);
  }
}

.btnSearch {
  border-radius: 50px;
  border: none;
  background-color: rgb(232, 232, 240);
  font-size: 17px;
  transition: all 0.5s ease;
  text-align: center;
  height: 30px;
  padding: 5px 15px;
}

.btnSearch:hover {
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btnSearch:active {
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transition: 100ms;
}

.form {
  padding: 5px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: aliceblue;
}
.input {
  background-color: transparent;
}
.logoPlace {
  margin-right: -1%;
}
.logoPlace img {
  height: 70px;
  &:hover {
    box-shadow: -1px 1px 20px 20px #040151;
  }
}

.imageUser {
  width: 30%;
  height: 50px;
  border-radius: 25px;
  &:hover {
    box-shadow: 0px 0px 20px 1px #151428;
    cursor: pointer;
  }
}
#userName {
  color: white;
  font-weight: 600;
  font-weight: 600;
  font-style: italic;
  &:hover {
    filter: drop-shadow(2px 4px 12px black);
  }
}
.rightMenu span {
  color: white;
  margin: 5px;
}
