* {
  padding: 0;
  margin: 0;
  font-weight: 500;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  filter: drop-shadow(1px 2px 5px black);
}
ul {
  display: flex;
  font-size: 22px;
}
ul li {
  list-style-type: none;
  color: white;
}
.mainDiv {
  /* background-color: rgb(18, 20, 64); */
  background: linear-gradient(
    112.1deg,
    rgb(16 24 49) 11.4%,
    rgb(20 23 33) 70.2%
  );
  color: antiquewhite;
  height: 100%;
  width: 100%;
}
.leftMenu ul {
  gap: 15px;
}
.rightMenu ul {
  gap: 15px;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.btnSearch {
  border-radius: 50px;
  border: none;
  background-color: rgb(232, 232, 240);
  font-size: 17px;
  transition: all 0.5s ease;
  text-align: center;
  height: 30px;
  padding: 5px 15px;
}

.btnSearch:hover {
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btnSearch:active {
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transition: 100ms;
}
a:hover {
  color: hsl(222, 23%, 78%);
}

input {
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  border-radius: 50px;
  width: 300px;
  height: 30px;
  width: 665px;
  border: none;
}

.form {
  padding: 5px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: aliceblue;
}
.input {
  background-color: transparent;
}

.logoPlace img {
  height: 70px;
  &:hover {
    box-shadow: -1px 1px 20px 20px #040151;
  }
}
