.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    border-bottom: 1px solid #bfbdbd;
}

.btn {
    padding: 10px ;
    width: 150px;
    border: none;
    outline: none;
    background-color: #ff0000;
    cursor: pointer;
    color: white;
}

.container {
    height: 80vh;
    background-color: #fff;
    padding: 20px;
    overflow-y: scroll;
}

.container > p {
    font-size: 13px;
}

.senderName {
    text-align: right;
}

.messageRecipient {
    background-color: #e1f1f4;
    width: 300px;
    padding: 9px;
    border-radius: 10px;
}

.messageSender {
    color: white;
    background-color: rgb(39,135,245);
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    font-size: 15px;
}
.chat_logo {
    width: 50px;
    height: 50px;
}
/* .status {
    position: fixed;
    font-size: 15px;
    font-style: italic;
    bottom: 75px;
    margin-left: 50px;
} */